body{
  text-align: center;
  background-color: #151515;
}

h1 {
  margin: 0;
  font-size: 100px;
  font-family: 'MFRED';
  font-weight: normal;
  color: white;
  line-height: 0.96
}

h2 {
}

h3 {
}

p {
}

a {
  font-size: 18px;
  font-family: 'MFRED';
  color: white;
  font-weight: normal;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  float: right;
}
li {
  display: inline;
  padding-left: 40px;
}
@font-face {
    font-family: 'MFred';
    src: url('fonts/MFred.eot');
    src: url('fonts/MFred.eot') format('embedded-opentype'),
         url('fonts/MFred.woff2') format('woff2'),
         url('fonts/MFred.woff') format('woff'),
         url('fonts/MFred.ttf') format('truetype'),
         url('fonts/MFred.svg#MFred') format('svg');
}

.header-wrapper {
  height: 100vh;
  max-width: 1320px;
  margin: 0 auto;
}

.navigation {
  padding: 65px 0 65px 0;
  margin: 0 auto;
  max-width: 1320px;
}

.title {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
